@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #0b0a1d00;
    --color-base2: #1D0E0A;
    --color-brand: #e49c61;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
    background: linear-gradient(rgba(7, 15, 15, 0.8), rgba(16, 22, 22, 0.8)), url(../images/sidebar.jpg);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

#ph {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#cv {
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--color-base);
}


/* Style buttons */

.btn {
    background-color: var(--color-brand);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: #b6cbce;
}


/* NAVBAR */

.navbar {
    background-color: #1D0E0A;
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(7, 17, 19, 0.8), rgba(10, 15, 15, 0.8)), url(../images/sidebar.jpg);
        background-size: cover;
        background-position: center;
    }
    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}